.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.row {
  /* height: 500px; */
  width: 500px;
  padding: 10px;
}

.row-map {
  height: 200px;
  width: 500px;
}

.h-line {
  margin-top: 10px;
  border-bottom: 2px solid rgb(185, 158, 158);
}
.currencyContainer {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 760px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .row {
    height: 450px;
    width: 450px;
  }
  .row-map {
    width: 450px;
  }
}

@media (max-width: 480px) {
  .row {
    height: 400px;
    width: 300px;
  }
  .row-map {
    width: 300px;
  }
}
